<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}crud{% endblock title %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <nav class="navbar_template_base">
    {% if user.is_authenticated %}
      <div id="header_in">
        <p><a href="{% url 'home' %}">Home</a>  |
        <a href="{% url 'profile' user.id %}">Profile</a> |
        <a href="{% url 'profilechange' user.id %}">Profile Changes</a> |
        <a href="{% url 'logout' %}">Log Out</a></p>
      </div>
    {% else %}
      <div id="header_out">
        <p><a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a> |
        <a href="{% url 'password_reset' %}">Password Reset</a></p>
      </div>
    {% endif %}
  </nav>
  <div class="container">
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </div>
<!-- JavaScript -->
{% block javascript %}
  <script src="{% static 'js/base.js' %}"></script>
{% endblock javascript %}
</body>
</html>
