<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
  <div id="test_in">
    <h3> Hi {{ user.username }}! Are you Fine? </h3>
  </div>
{% else %}
  <div id="test_out">
    <h3>You are not logged in</h3>
  </div>
{% endif %}
<div>
  <h3> Users!!! </h3>
  {% for person in object_list %}
  <h4><span class="user_list">{{ person.username }}</span><h4>
  {% endfor %}
</div>
{% endblock content %}

