<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}profile change{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
  <div id="headerin">
    <h3>Change your profile as you want</h3>
    <body>
      <form action="{% url 'profilechange' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
      </form>
      {{ confirm_added }}
      <div id="subheaderin">
        <h3>Critical preferences</h3>
        <p><a href="{% url 'password_change' %}">Password Change</a></p>
        <p><a href="{% url 'profiledelete'  user.id %}">Delete account</a></p>
      </div>
    </body>
  </div>
{% else %}
  <div id="headerout">
    <body>
      <h3>You are not logged in</h3>
    </body>
  </div>
{% endif %}
{% endblock content %}
