<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}profile{% endblock title %}
{% block content %}
  {% if user.is_authenticated %}
  <div id="test_in">
    <body>
      <h3> User: <em>{{ user.username }}</em></h3>
      {% if user.birth_date %}
        <h3> Birth date: {{ user.birth_date}} </h3>
      {% endif %}
      <h3> e-mail: {{ user.email}} </h3>
      {% if user.profile_img %}
        <img class="imageprofile" src="{{ user.profile_img.url }}"/>
      {% endif %}
    </body>
  </div>
  {% else %}
    <div id="test_out">
      <body>
        <p><h3>You are not logged in</h3></p>
      </body>
    </div>
  {% endif %}
{% endblock content %}
