<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}profile change{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
  <div id="headerin">
    <div id="subheaderin">
      <p><a href="{% url 'password_change' %}">Password Change</a></p>
    </div>
    <body>
      <form action="{% url 'profilechange' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
      </form>
      {{ confirm_added }}
    </body>
  </div>
{% else %}
  <div id="headerout">
    <body>
      <h3>You are not logged in</h3>
    </body>
  </div>
{% endif %}
{% endblock content %}
